In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import time
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [3]:
time.sleep(3)

In [4]:
# Question:-1

url = 'https://www.amazon.com/'
driver.get(url)

In [5]:
time.sleep(2)

In [6]:
user_inp = input("Enter your search here: - ")

Enter your search here: - Guitar

In [7]:
search_bar = driver.find_element(By.ID, 'twotabsearchtextbox')

In [8]:
search_bar.clear()

In [9]:
search_bar.send_keys(user_inp)

In [10]:
search_button=driver.find_element(By.XPATH, '//span[@class="nav-search-submit-text nav-sprite nav-progressive-attribute"]')
search_button.click()

In [11]:
# Question No:- 2
# Scrapping URL'S of first three pages. 

URL = []
for r in range(3):
    urls = driver.find_elements(By.XPATH, '//a[@class="a-link-normal s-no-outline"]')
    for i in urls:
        URL.append(i.get_attribute('href'))

In [12]:
# Click on to the next button. 
# First we try by using full xpath, later on we will try by using class name. 

try:
    driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[1]/div[1]/div/span[1]/div[1]/div[69]/div/div/span/a[3]')
except:
    nxt = driver.find_element(By.XPATH, '//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')
    nxt.click()

In [13]:
len(URL)

216

In [14]:
brand_name = []
product_name = []
price = []
exchange = []
delivery = []
availiablity = [] 
URL = []

In [15]:
for url in URL:
    driver.get(url)
    time.sleep(2)

In [16]:
# Here we write elements as we have no of brand names, else our code will not be run.

for i in driver.find_elements(By.XPATH, '//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-4"]'):
    if i.text is None:
        brand_name.append('--')
    else:
        brand_name.append(i.text)

In [17]:
brand_name

['Enya Nova Go Carbon Fiber Acoustic Guitar 1/2 Size Beginner Adult Travel Acustica Guitarra w/Starter Bundle Kit of Colorful Packaging, Acoustic Guitar Strap, Gig Bag, Cleaning Cloth, String(Black)',
 '38" Wood Guitar With Case and Accessories for Kids/Boys/Girls/Teens/Beginners (Sunburst)',
 '30" Wood Classical Guitar with Case and Accessories for Kids/Girls/Boys/Beginners (Pink)',
 'JOYMUSIC 6 String 38" Acoustic Guitar Kit,Sunburst,Gloss (JG-38C,3TS), Right',
 'Enya Nova Go Carbon Fiber Acoustic Guitar 1/2 Size Beginner Adult Travel Acustica Guitarra w/Starter Bundle Kit of Colorful Packaging, Acoustic Guitar Strap, Gig Bag, Cleaning Cloth, String(Black)',
 '38" Wood Guitar With Case and Accessories for Kids/Boys/Girls/Teens/Beginners (Sunburst)',
 'YMC 38" Blue Beginner Acoustic Guitar Starter Package Student Guitar with Gig Bag,Strap, 3 thickness 9 Picks,2 Pickguards,Pick Holder, Extra Strings, Electronic Tuner -Blue',
 'Pyle Classical Acoustic Guitar 36” Junior size for beginners with starter kit - Steel String Guitarra Acustica Pack with Travel Gig Bag, Tuner, Picks, Strap for Students Practice, Kids, Adults',
 '30" Wood Classical Guitar with Case and Accessories for Kids/Girls/Boys/Beginners (Pink)',
 'First Act Acoustic Sunburst Guitar, 30 Inch - Brass Acoustic Guitar Strings, Tuning Gear, String Post Covers, Steel-Reinforced Neck, Strap Buttons – Musical Instruments',
 'RockJam Acoustic Guitar Superkit Includes Stand, Gig Bag, Tuner, Picks, Plectrum Holder, Spare Strings & Online Lessons 6 String Pack, Right, Natural, Full (RJW-101-N-PK)',
 'Beginner 30” Classical Acoustic Guitar - 1/4 Junior Size 6 String Linden Wood Guitar w/ Gig Bag, Tuner, Nylon Strings, Picks, Strap, For Beginners, Adults - Pyle PGACLS30',
 'Pyle Acoustic Guitar Beginner Starter Kit Guitarra Acustica Bundle Pack with Cutaway Body Set for Students Practice, Kids, Adults, Right, Gray, one size (PGA550CAB)',
 'Fender Premium Picks Sampler - 12 Pack Includes Thin, Medium & Heavy Gauges (Austin Bazaar Exclusive)…',
 '60 PCS Guitar Picks, 3 Different Thickness Abstract Art Colorful Celluloid Guitar Pick Plectrums For Bass, Electric, Acoustic Guitars Includes 0.46mm, 0.71mm, 0.96mm(Color Random)',
 "D'Addario Celluloid Guitar Picks - Guitar Accessories - Guitar Picks for Acoustic Guitar, Electric Guitar, Bass Guitar - Natural Feel, Warm Tone - Assorted, Medium, 10-pack",
 '',
 '',
 '',
 '',
 '',
 'Music Alley MA34-N Classical Junior Guitar',
 'Ibanez 6 String Solid-Body Electric Guitar, Right, Transparent Green Burst (GRX70QATEB)',
 'Fender FA-15N 3/4 Scale Nylon String Beginner Acoustic Guitar',
 'Seismic Audio - 12" GUITAR SPEAKER CABINET EMPTY - 7 Ply Birch - 2x12 Speakerless Cab NEW 212 Black Tolex - Black Cloth Grill - Front or Rear Loading Options',
 'JOYO 2.4GHz Wireless Guitar System 4 Channels Rechargeable Audio Wireless Transmitter Receiver for Guitar Bass Electric Instruments (JW-03)',
 'No Bull Music Theory for Guitarists: Master the Essential Knowledge all Guitarists Need to Know',
 'Riff BANDZ – Resistance Training Bands For Guitar Bass Banjo Piano Finger Speed System - Premium Set of 3 Hand Strengthener Accessories',
 'Fender Player Stratocaster Electric Guitar - Maple Fingerboard - 3 Color Sunburst',
 'Pyle Acoustic Guitar Starter Pack-34” ½ Junior Size 6 Linden Wood Red Burst Design w/Accessories Case Bag Steel Strings, Nylon Strap, Tuner, Picks, for Beginner, Right, (PGA820)',
 'Fender FA-125 Dreadnought Acoustic Guitar, Walnut Fingerboard, Natural',
 'Rise by Sawtooth Right Handed Beginner Electric Guitar Kit, Black',
 'MOOER E7 Polyphonic Guitar Synth Mini Synth Pedal, 7 Guitar Synthesizer Tones with an individual arpeggiator and 7 Preset Slots…',
 'Guitar Wall Mount Bass Guitar Holder Electric Guitar Hanger 4 Pack Guitar Wall Hook Guitar Holder',
 'HUAWIND Soprano Ukulele Ukeleles for Beginners Mahogany 21 Inch Hawaiian Starter ukeleles for Kids Adults Child Guitar Ukalalee With Gig Bag（city walls Pattern）',
 'Shark Guitar Capo Pretty Cool Capo for Electric Acoustic Classical Guitar Ukulele Zinc Alloy Spring Capo (black)',
 'HUAWIND Classical Guitar Full Size 39 Inch Acoustic Guitar Nylon Strings Guitar for Beginners Adults with Bag',
 'Cordoba Mini II FMH, Flamed Mahogany, Small Body, Nylon String Guitar',
 'POMAIKAI Soprano Wood Ukulele Kid Starter Uke Hawaii kids Guitar 21 Inch with Gig Bag for kids Students and Beginners (Pink)',
 'Beginner 30” Classical Acoustic Guitar - 6 String Linden Wood Traditional Style Guitar w/ Wood Fretboard, Case Bag, Nylon Strap, Tuner, 3 Picks - Great for Beginner, Children Use - Pyle PGAKT30',
 'Jackson JS Series Dinky Arch Top JS22 Natural Oil',
 'WINZZ 39 Inches Classical Guitar Full Size Beginner Acoustic with Online Lessons Bag Capo Tuner Strings',
 'Kisangel 1pc Kids Beginner Guitar 23 Inch Guitar 6 String Vintage Style Acoustic Guitar Wooden Guitar Music Instruments for Kids(Blue)',
 'Laminated Guitar Chord & Fretboard Note Chart Instructional Easy Poster for Beginners Chords & Notes A New Song Music 11"x17"',
 'Moukey 30" Acoustic Guitar for Beginner Junior Youth 1/4 Teen Size Nylon String Classical Guitarra Acustica with Chord Poster, Gig Bag, Tuner, Picks, Nylon Strings, Capo, Strap - Black',
 'Guild Guitars DS-240 Slope Shoulder Acoustic Guitar, Vintage Sunburst, Solid Top, Westerly: Memoir Collection',
 'Martin Smith 38 Inch Acoustic Guitar, Pink, With Case, Pick, Tuner, Strap, Extra Strings and 2 months of Lessons',
 'LOMEVE Guitar Accessories Kit Include Acoustic Guitar Strings, Tuner, Capo, 3-in-1 Restring Tool, Picks, Pick Holder, Bridge Pins, Nuts & Saddles, Finger Protector, Finger Picks, Chord Chart (58PCS)',
 'MEETOOT 50pcs Guitar Fretboard Fingerboard Side Dot Music Instrument Inlay Dots 50x2mm Guitar Fingerboard Side Marker',
 'ChordBuddy “MADE IN THE USA” - Guitar Learning with Songbook, Lesson Plan, App, and Right Handed ChordBuddy',
 'Guitar Americana Style Chord & Fretboard Note Chart Instructional Easy Poster for Beginners Chords & Notes A New Song Music 11"x17"',
 'Trendy Soprano Ukulele for Beginners 21 Inch Hawaiian Ukulele for Kid Adult Student with Gig Bag (Black)',
 'Donner Kids Electric Guitar 30 Inch Mini Electric Guitar Beginner Kit ST Style Junior Starter Package Red for Boys Girls Children with Amp, 600D Bag, Tuner, Picks, Cable, Strap, Extra Strings DSJ-100',
 'Gretsch G9500 Limited Edition Jim Dandy - Nocturne Blue',
 'Fender Malibu Player - California Series Acoustic Guitar - Arctic Gold',
 'Kisangel 1pc 23 Inch Acoustic Guitar Wooden Beginner Guitar Music Instruments for Kids Girls Boys Beginners(Wood Color)',
 'Taylor BT2 Baby Taylor Acoustic Guitar, Mahogany Top',
 'Professional Classical Guitar 39 Inch Full Size for Beginners Adults Acoustic Guitar Guitarras Acústicas With Chord Poster Bag Strap Tuner Hanger Strings Winder Picks Holder Wipe',
 'ChordBuddy “MADE IN THE USA” - Guitar Learning with Songbook, Lesson Plan, App, Right Handed ChordBuddy, and Tuner',
 'reussir Guitar Chord Poster | 16"x24" Guitar Chord Chart & 56 Guitar Fretboard Cards & Magnetic Poster Hanger | A Gift for Guitar Beginners and Teachers',
 'CNBLUE Acoustic Guitar Beginner 1/2 Size Dreadnought Mini Guitar 6 String Basswood 30 inch Kids Guitar youth acoustic guitar Steel Strings With Gig Bag',
 'Pyle Classical Acoustic Guitar 36 Inch Junior Size Beginner Starter Kit Steel String Guitarra Acustica Bundle Pack with Gig Bag, Tuner, Picks, Strap for Students Practice, Kids, Adults',
 'Vizcaya 38" Black Beginner Left-Handed Acoustic Guitar Starter Package Student Guitar with Gig Bag,Strap, picks, Extra Strings, Electronic Tuner -Black Left-Handed',
 'Strong Wind Classical Acoustic Guitar Nylon Strings Guitar Beginner Kit for Students Children Adult (Pink 30inch)',
 'Asmuse 38 inch Acoustic Guitar Kit, Full Size Classical Acoustic Guitar 6 Strings with Gig Bag, Tuner, Picks, Strap Accessories for Beginners Adults Teens (Natural)',
 'Bontempi Red Electric Guitar, Multicolor, 67 x 22 x 4.5 cm (241300)',
 'IVIDEOSONGS Guitar Chord Chart Reference Poster 24"x36" • Educational Guitar Chord Poster for Teachers & Students • 84 Guitar Chords with Fret Guide • Guitar Chords Poster with 150+ Tutorials',
 'MOOER PE100 Portable Desk Top Guitar Multi Effects with 198 presets, 36 effects, Drum Machine, Metronome, Tap Tempo, Aux In Headphone']

In [18]:
len(brand_name)

68

In [19]:
# Here we have only 52 prices. 

for i in driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]'):
    if i.text is None:
        price.append('--')
    else:
        price.append(i.text)

In [20]:
price

['189',
 '55',
 '51',
 '43',
 '189',
 '55',
 '43',
 '51',
 '66',
 '52',
 '66',
 '51',
 '39',
 '82',
 '82',
 '99',
 '55',
 '10',
 '7',
 '3',
 '',
 '',
 '',
 '',
 '',
 '41',
 '258',
 '39',
 '15',
 '9',
 '185',
 '82',
 '13',
 '49',
 '11',
 '88',
 '158',
 '42',
 '55',
 '88',
 '30',
 '14',
 '69',
 '77',
 '17',
 '6',
 '44',
 '13',
 '36',
 '149',
 '189',
 '26',
 '449',
 '78',
 '59',
 '29',
 '52',
 '79',
 '64',
 '55',
 '69',
 '57',
 '19',
 '68']

In [21]:
len(price)

64

In [22]:
search_bar = driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[1]/div[1]/div/span[1]/div[1]/div[2]/div/div/div/div/div/div/div[2]/div[1]/h2')
search_bar.click()

In [23]:
try:
    availiablity.append(driver.find_elements(By.XPATH, '//div[@id="availability"]//span').text)
except:
    availiablity.append('-')
    
try:
    exchange.append(driver.find_elements(By.ID, "productSupportAndReturnPolicy-return-policy-anchor-text").text)
except:
    exchange.append('-')
       
try:
    delivery.append(driver.find_elements(By.XPATH, '//div[@class="a-spacing-base"]//span//span').text)
except:
    delivery.append('-')
    time.sleep(3)
        
print('succesful scrap')

succesful scrap

In [24]:
len(availiablity)

1

In [25]:
len(exchange)

1

In [26]:
len(delivery)

1

In [27]:
for i in driver.find_elements(By.ID, "productTitle"):
    if i.text is None:
        product_name.append('--')
    else:
        product_name.append(i.text)

In [28]:
product_name

[]

In [29]:
len(product_name)

0

In [30]:
que2=pd.DataFrame({'Brand Name':brand_name,'Name':product_name,'Availability':availiablity,'Return/Exchange':exchange,'Delivery':delivery,
                 'Price':price,'Product_url':URL})
que2

ValueError: All arrays must be of the same length

In [31]:
que2=pd.DataFrame({'Availability':availiablity,'Return/Exchange':exchange,'Delivery':delivery})
que2

  Availability Return/Exchange Delivery
0            -               -        -

In [32]:
# Question no:- 3

url='https://images.google.com/'
driver.get(url)

In [33]:
bar=driver.find_element(By.XPATH,'//input[@class="gLFyf"]')
se=input('Enter the Keyword: ')
bar.send_keys(se)

Enter the Keyword: Fruit

In [35]:
search_button = driver.find_element(By.XPATH, '//span[@class="z1asCe MZy1Rb"]')
search_button.click()

In [36]:
page_url = []
url = driver.find_elements(By.XPATH, '//img[@class="rg_i Q4LuWd"]')
for i in url:
    page_url.append(i.get_attribute('src'))
page_url=page_url[:10]
for i in page_url:
    driver.get(i)

In [37]:
len(page_url)

10

In [38]:
# Images of fruits.

df=pd.DataFrame({'url':page_url})
df

                                                 url
0  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
1  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...
3  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
5  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
6  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
7  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
8  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
9  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...

In [39]:
driver.close()

In [40]:
driver = webdriver.Chrome(r"chromedriver.exe")
url='https://images.google.com/'
driver.get(url)

In [41]:
bar=driver.find_element(By.XPATH,'//input[@class="gLFyf"]')
se=input('Enter the Keyword: ')
bar.send_keys(se)

Enter the Keyword: Cars

In [42]:
search_button = driver.find_element(By.XPATH, '//span[@class="z1asCe MZy1Rb"]')
search_button.click()

In [43]:
page_url = []
url = driver.find_elements(By.XPATH, '//img[@class="rg_i Q4LuWd"]')
for i in url:
    page_url.append(i.get_attribute('src'))
page_url=page_url[:10]
for i in page_url:
    driver.get(i)

In [44]:
len(page_url)

10

In [45]:
# Images of cars.

df=pd.DataFrame({'url':page_url})
df

                                                 url
0  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
1  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
3  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
5  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
6  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
7  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
8  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
9  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...

In [46]:
driver.close()

In [47]:
driver = webdriver.Chrome(r"chromedriver.exe")
url='https://images.google.com/'
driver.get(url)
bar=driver.find_element(By.XPATH,'//input[@class="gLFyf"]')
se=input('Enter the Keyword: ')
bar.send_keys(se)

Enter the Keyword: Machine Learning

In [48]:
search_button = driver.find_element(By.XPATH, '//span[@class="z1asCe MZy1Rb"]')
search_button.click()

In [49]:
# Images of Machine learning.

page_url = []
url = driver.find_elements(By.XPATH, '//img[@class="rg_i Q4LuWd"]')
for i in url:
    page_url.append(i.get_attribute('src'))
page_url=page_url[:10]
for i in page_url:
    driver.get(i)
    
len(page_url)

df3=pd.DataFrame({'url':page_url})
df3

                                                 url
0  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
1  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
3  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...
4  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
5  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
6  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
7  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
8  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...
9  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...

In [50]:
driver.close()

In [51]:
driver = webdriver.Chrome(r"chromedriver.exe")
url='https://images.google.com/'
driver.get(url)

In [52]:
bar=driver.find_element(By.XPATH,'//input[@class="gLFyf"]')
se=input('Enter the Keyword: ')
bar.send_keys(se)

Enter the Keyword: Guitar

In [53]:
search_button = driver.find_element(By.XPATH, '//span[@class="z1asCe MZy1Rb"]')
search_button.click()

In [54]:
# Images of guitar.

page_url = []
url = driver.find_elements(By.XPATH, '//img[@class="rg_i Q4LuWd"]')
for i in url:
    page_url.append(i.get_attribute('src'))
page_url=page_url[:10]
for i in page_url:
    driver.get(i)
    
len(page_url)

df4=pd.DataFrame({'url':page_url})
df4

                                                 url
0  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
1  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
3  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
5  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
6  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
7  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
8  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
9  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...

In [55]:
driver.close()

In [56]:
driver = webdriver.Chrome(r"chromedriver.exe")
url='https://images.google.com/'
driver.get(url)

In [57]:
bar=driver.find_element(By.XPATH,'//input[@class="gLFyf"]')
se=input('Enter the Keyword: ')
bar.send_keys(se)

Enter the Keyword: Cakes

In [58]:
search_button = driver.find_element(By.XPATH, '//span[@class="z1asCe MZy1Rb"]')
search_button.click()

In [59]:
page_url = []
url = driver.find_elements(By.XPATH, '//img[@class="rg_i Q4LuWd"]')
for i in url:
    page_url.append(i.get_attribute('src'))
page_url=page_url[:10]
for i in page_url:
    driver.get(i)

In [60]:
len(page_url)

10

In [61]:
# Images of cakes.

df5=pd.DataFrame({'url':page_url})
df5

                                                 url
0  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
1  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
3  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
5  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
6  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
7  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
8  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
9  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...

In [62]:
driver.close()

In [63]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [64]:
time.sleep(3)

In [65]:
# Question No:- 4

url='https://www.flipkart.com'
driver.get(url)
time.sleep(5)

In [66]:
try:
    driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]').click()
except Exception:
    pass

In [67]:
driver.find_element(By.XPATH, '//input[@class="_3704LK"]').send_keys('pixel 4A')
time.sleep(3)

In [68]:
driver.find_element(By.XPATH, '//button[@class="L0Z3Pu"]').click()

In [69]:
product_urls=[]
url=driver.find_elements(By.XPATH, '//a[@class="_1fQZEK"]')
for i in url:
    product_urls.append(i.get_attribute('href'))

In [70]:
len(product_urls)

24

In [71]:
brand=[]
name=[]
color=[]
ram=[]
rom=[]
primary_cam=[]
secondary_cam=[]
display=[]
battery=[]
price=[]

In [72]:
for i in product_urls:
    driver.get(i)
    driver.find_element(By.XPATH, '//button[@class="_2KpZ6l _1FH0tX"]').click()
    
    for i in driver.find_elements(By.XPATH, '//span[@class="B_NuCI"]'):
        brand.append(i.text.split(" ",1)[0])
        
    for i in driver.find_elements(By.XPATH, '//div[@class="_4rR01T"]'):
        name.append(i.text.split("(")[0])
    
    for i in driver.find_elements(By.XPATH, '//table[@class="_14cfVK"]//tbody/tr[4]//td[2]'):
        if i.text is None:
            color.append('--')
        else:
            color.append(i.text.split("Yes"))
            
    try:
        ram.append(driver.find_elements(By.XPATH, '//div[@class="_2cM9lP"]//div[@class="_2418kt"]//ul//li[1]').text.split("|")[0])
    except:
        ram.append('-')
    try:
        rom.append(driver.find_elements(By.XPATH, '//div[@class="_2cM9lP"]//div[@class="_2418kt"]//ul//li[1]').text.split("|")[1])
    except:
        rom.append('-')
    try:
        primary_cam.append(driver.find_elements(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[6]/div[1]/div/div[2]/ul/li[3]').text.split("|")[0])
    except:
        primary_cam.append('-')
    try:
        secondary_cam.append(driver.find_elements(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[6]/div[1]/div/div[2]/ul/li[3]').text.split("|")[1])
    except:
        secondary_cam.append('-')
    try:
        display.append(driver.find_elements(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[6]/div[1]/div/div[2]/ul/li[2]').text)
    except:
        display.append('-')
    try:
        battery.append(driver.find_elements(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[6]/div[1]/div/div[2]/ul/li[4]').text)
    except:
        battery.append('-')
    for i in driver.find_elements(By.XPATH, '//div[@class="_30jeq3 _16Jk6d"]'):
        price.append(i.text)

In [73]:
len(brand)

24

In [74]:
len(name)

0

In [75]:
len(color)

195

In [76]:
len(ram)

24

In [77]:
len(rom)

24

In [78]:
len(primary_cam)

24

In [79]:
len(secondary_cam)

24

In [80]:
len(display)

24

In [81]:
len(battery)

24

In [82]:
len(price)

24

In [83]:
price

['₹31,999',
 '₹14,499',
 '₹14,499',
 '₹15,999',
 '₹15,999',
 '₹17,999',
 '₹5,999',
 '₹27,999',
 '₹6,999',
 '₹6,999',
 '₹6,999',
 '₹5,549',
 '₹5,549',
 '₹17,999',
 '₹25,999',
 '₹8,999',
 '₹8,999',
 '₹5,549',
 '₹9,999',
 '₹9,999',
 '₹9,999',
 '₹5,999',
 '₹5,999',
 '₹13,999']

In [84]:
battery

['-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [85]:
display

['-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [86]:
secondary_cam

['-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [87]:
primary_cam

['-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [88]:
rom

['-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [89]:
ram

['-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [90]:
brand

['Google',
 'vivo',
 'vivo',
 'vivo',
 'vivo',
 'vivo',
 'realme',
 'realme',
 'realme',
 'realme',
 'realme',
 'Realme',
 'Realme',
 'vivo',
 'realme',
 'realme',
 'realme',
 'Realme',
 'realme',
 'realme',
 'realme',
 'realme',
 'realme',
 'realme']

In [91]:
Smartphone_data=pd.DataFrame({'Brand Name':brand,'RAM':ram,'ROM':rom,'Primary Camera':primary_cam,'Secondary Camera':secondary_cam,'Display size':display,'Battery':battery, 'Price':price})
Smartphone_data

,Brand Name,RAM,ROM,Primary Camera,Secondary Camera,Display size,Battery,Price
0,Google,-,-,-,-,-,-,"₹31,999"
1,vivo,-,-,-,-,-,-,"₹14,499"
2,vivo,-,-,-,-,-,-,"₹14,499"
3,vivo,-,-,-,-,-,-,"₹15,999"
4,vivo,-,-,-,-,-,-,"₹15,999"
5,vivo,-,-,-,-,-,-,"₹17,999"
6,realme,-,-,-,-,-,-,"₹5,999"
7,realme,-,-,-,-,-,-,"₹27,999"
8,realme,-,-,-,-,-,-,"₹6,999"
9,realme,-,-,-,-,-,-,"₹6,999"
10,realme,-,-,-,-,-,-,"₹6,999"
11,Realme,-,-,-,-,-,-,"₹5,549"
12,Realme,-,-,-,-,-,-,"₹5,549"
13,vivo,-,-,-,-,-,-,"₹17,999"
14,realme,-,-,-,-,-,-,"₹25,999"
15,realme,-,-,-,-,-,-,"₹8,999"
16,realme,-,-,-,-,-,-,"₹8,999"
17,Realme,-,-,-,-,-,-,"₹5,549"
18,realme,-,-,-,-,-,-,"₹9,999"
19,realme,-,-,-,-,-,-,"₹9,999"
20,realme,-,-,-,-,-,-,"₹9,999"
21,realme,-,-,-,-,-,-,"₹5,999"
22,realme,-,-,-,-,-,-,"₹5,999"
23,realme,-,-,-,-,-,-,"₹13,999"

In [92]:
# Question no:- 5

import time

In [93]:
url='https://www.google.com/maps'
driver.get(url)
time.sleep(4)

In [94]:
inp=driver.find_element(By.ID, "searchboxinput")
loc=input("Enter the City Name: ")
inp.send_keys(loc)

Enter the City Name: Mumbai

In [95]:
search=driver.find_element(By.ID, "searchbox-searchbutton")
search.click()

In [96]:
!pip install geopy

Requirement already satisfied: geopy in c:\users\kiran digambar yadav\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\kiran digambar yadav\anaconda3\lib\site-packages (from geopy) (2.0)

In [97]:
import geopy
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="jupyter")

location= geolocator.geocode(loc)
print("latitude is :-" ,location.latitude,"\nlongtitude is:-" ,location.longitude)

latitude is :- 19.0785451
longtitude is:- 72.878176

In [98]:
# Question no:- 7

url='https://www.digit.in'
driver.get(url)

In [99]:
driver.find_element(By.XPATH, '//a[@class="arrow_down gaming"]').click()
time.sleep(3)

In [100]:
driver.find_element(By.XPATH, '/html/body/div[2]/div/ul/li[5]/div[2]/div/div[2]/div/ul[3]/li[4]/a').click()
time.sleep(3)

In [101]:
try:
    ele=driver.find_element(By.XPATH, '/html/body/div[3]/div/div[2]/div[1]/div/ul/li[3]')
    driver.execute_script("arguments[0].click();", ele)
except ElementClickInterceptedException as e:
    src= driver.find_element(By.XPATH, '/html/body/div[3]/div/div[2]/div[1]/div/ul/li[3]').get_attribute('src')
    driver.get(src)

In [102]:
product_url=[]
url=driver.find_elements(By.XPATH, '//div[@class="TopNumbeHeading active sticky-footer"]/a')
for i in url:
    product_url.append(i.get_attribute('href'))

In [103]:
product_url

[]

In [104]:
# Question No:- 8

url='https://www.forbes.com'
driver.get(url)
time.sleep(5)

In [105]:
try:
    bill=driver.find_element(By.XPATH, '//div[@class="footer__nav"]//a[2]')
    bill.click()
except:
    bill=driver.find_element(By.XPATH, '//a[@class="footer__nav-item"]')
    bill.click()

In [106]:
li=driver.find_element(By.XPATH, '/html/body/div[1]/main/div/section/section[1]/div/div/div[1]/div/div[1]/div[1]/div[2]/a/h2')
li.click()

In [108]:
my_list=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[2]/div[1]/div[2]/div/div[1]/div[1]/a')
my_list.click()

In [109]:
rank=[]
name=[]
worth=[]
age=[]
country=[]
source=[]
industry=[]

In [110]:
for i in driver.find_elements(By.XPATH, '//div[@class="rank"]'):
    rank.append(i.text)
    
for i in driver.find_elements(By.XPATH, '//div[@class="personName"]'):
    name.append(i.text)
    
for i in driver.find_elements(By.XPATH, '//div[@class="netWorth"]'):
    worth.append(i.text)
    
for i in driver.find_elements(By.XPATH, '//div[@class="age"]'):
    age.append(i.text)
    
for i in driver.find_elements(By.XPATH, '//div[@class="countryOfCitizenship"]'):
    country.append(i.text)
    
for i in driver.find_elements(By.XPATH, '//div[@class="source"]'):
    source.append(i.text)
    
for i in driver.find_elements(By.XPATH, '//div[@class="category"]'):
    industry.append(i.text)

In [111]:
len(rank)

200

In [112]:
len(name)

200

In [113]:
len(worth)

200

In [114]:
len(age)

200

In [115]:
len(country)

200

In [116]:
len(source)

200

In [117]:
len(industry)

200

In [118]:
Billionaries_Data = pd.DataFrame({'Rank':rank, 'Name':name, 'Net worth':worth, 
                                  'Age':age, 'Citizenship':country, 'Source':source, 'Industry':industry})
Billionaries_Data

,Rank,Name,Net worth,Age,Citizenship,Source,Industry
0,1.,Elon Musk,$219 B,,United States,,
1,2.,Jeff Bezos,$171 B,,United States,,
2,3.,Bernard Arnault & family,$158 B,,France,,
3,4.,Bill Gates,$129 B,,United States,,
4,5.,Warren Buffett,$118 B,,United States,,
...,...,...,...,...,...,...,...
195,192.,Marcel Herrmann Telles,$10.3 B,,Brazil,beer,
196,197.,Leon Black,$10 B,,United States,private equity,
197,197.,Joe Gebbia,$10 B,,United States,Airbnb,
198,197.,David Geffen,$10 B,,United States,"movies, record labels",
199,197.,Yu Renrong,$10 B,,China,semiconductors,

In [119]:
Billionaries_Data.tail()

,Rank,Name,Net worth,Age,Citizenship,Source,Industry
195,192.,Marcel Herrmann Telles,$10.3 B,,Brazil,beer,
196,197.,Leon Black,$10 B,,United States,private equity,
197,197.,Joe Gebbia,$10 B,,United States,Airbnb,
198,197.,David Geffen,$10 B,,United States,"movies, record labels",
199,197.,Yu Renrong,$10 B,,China,semiconductors,

In [120]:
# question no:- 9

url='https://www.youtube.com/'
driver.get(url)

In [121]:
open_up=driver.find_element(By.XPATH, '/html/body/ytd-app/div[1]/ytd-page-manager/ytd-browse/ytd-two-column-browse-results-renderer/div[1]/ytd-rich-grid-renderer/div[6]/ytd-rich-grid-row[1]/div/ytd-rich-item-renderer[1]/div/ytd-rich-grid-media/div[1]/div[2]/div[1]/h3/a/yt-formatted-string')
open_up.click()

In [124]:
comments=[]
ct=driver.find_elements(By.XPATH, '/html/body/ytd-app/div[1]/ytd-page-manager/ytd-watch-flexy/div[5]/div[1]/div/div[2]/ytd-comments/ytd-item-section-renderer/div[3]/ytd-comment-thread-renderer[1]/ytd-comment-renderer/div[3]/div[2]/div[2]/ytd-expander/div/yt-formatted-string/span')
for i in ct:
    comments.append(i.text)
comments=comments

In [125]:
comments

['Peyush being scared was the best part']

In [126]:
time=[]
te=driver.find_elements(By.XPATH, '/html/body/ytd-app/div[1]/ytd-page-manager/ytd-watch-flexy/div[5]/div[1]/div/div[2]/ytd-comments/ytd-item-section-renderer/div[3]/ytd-comment-thread-renderer[1]/ytd-comment-renderer/div[3]/div[2]/div[1]/div[2]/yt-formatted-string/a')
for i in te:
    time.append(i.text)
time=time

In [127]:
time

['8 days ago']

In [128]:
# Question No:- 10

url='https://www.hostelworld.com/'
driver.get(url)

In [130]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[2]/div[2]/div/div/div[4]/div/div[2]/div/div[1]/div/div/div/input')
search.send_keys('London')

In [131]:
quick_search=driver.find_element(By.XPATH, '/html/body/div[3]/div/div/div[2]/div[2]/div/div/div[4]/div/div[2]/div/div[1]/div/div/ul/li[2]/div')
quick_search.click()

In [132]:
lets_go = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/div[2]/div[2]/div/div/div[4]/div/div[2]/div/div[5]/button')
lets_go.click()

In [135]:
for i in driver.find_elements(By.CLASS_NAME, "title title-6"):
    names.append(i.text)
for i in driver.find_elements(By.CLASS_NAME, "description"):
    distance.append(i.text.split("-")[1])
for i in driver.find_elements(By.XPATH, '//div[@class="keyword"]//span'):
    overall_review.append(i.text)
for i in driver.find_elements(By.XPATH, '//div[@class="score orange big"]'):
    rating.append(i.text)
for i in driver.find_elements(By.XPATH, '//div[@class="reviews"]'):
    total_review.append(i.text)
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div/div/div[1]/div[4]/div/div/div[2]/div[3]/a[1]/div[1]/div'):
    if i.text is None:
        privates.append('-')
    else:
        privates.append(i.text)
for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div/div/div[1]/div[4]/div/div/div[2]/div[3]/a[1]/div[2]/div'):
    if i.text is None:
        dorms.append('-')
    else:
        dorms.append(i.text)

In [136]:
len(names)

0

In [137]:
len(distance)

0

In [138]:
len(rating)

0

In [139]:
len(total_review)

0

In [140]:
len(overall_review)

0

In [141]:
len(privates)

0

In [142]:
len(dorms)

0

In [134]:
names=[]
distance=[]
rating=[]
total_review=[]
overall_review=[]
privates=[]
dorms=[]

In [143]:
Hostel_Data = pd.DataFrame({'Names':names, 'Distance':distance, 'Rating':rating, 'Total Review':total_review, 'Overall_reviewed':overall_review, 
                            'Facilities':privates, 'Property Description':dorms})
Hostel_Data

Empty DataFrame
Columns: [Names, Distance, Rating, Total Review, Overall_reviewed, Facilities, Property Description]
Index: []