In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import time
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome('chromedriver.exe')  #intiating the chrome

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [4]:
rank=[]
name=[]
artist=[]
views=[]
upload=[]

In [5]:
for i in driver.find_elements(By.XPATH, '//table[3]//tbody//tr//td[1]'):
    rank.append(i.text)
    
for i in driver.find_elements(By.XPATH, '//table[3]//tbody//tr//td[2]'):
    name.append(i.text)
    
for i in driver.find_elements(By.XPATH, '//table[3]//tbody//tr//td[3]'):
    artist.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//table[3]//tbody//tr//td[4]'):
    views.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//table[3]//tbody//tr//td[5]'):
    upload.append(i.text)
    
    
que1=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Views(billions)':views,'Upload Date':upload})
que1

,Rank,Name,Artist,Views(billions),Upload Date
0,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"7,046,700,000","June 17, 2016","November 2, 2020"
1,"""Despacito""[7]",Luis Fonsi,"2,993,700,000","January 12, 2017","August 4, 2017"
2,"""See You Again""[18]",Wiz Khalifa,"2,894,000,000","April 6, 2015","July 10, 2017"
3,"""Gangnam Style""⁂[27]",Psy,"803,700,000","July 15, 2012","November 24, 2012"
4,"""Baby""*[63]",Justin Bieber,"245,400,000","February 19, 2010","July 16, 2010"
5,"""Bad Romance""[67]",Lady Gaga,"178,400,000","November 24, 2009","April 14, 2010"
6,"""Charlie Bit My Finger""‡[71]",HDCYT,"128,900,000","May 22, 2007","October 25, 2009"
7,"""Evolution of Dance""[74]",Judson Laipply,"118,900,000","April 6, 2006","May 2, 2009"
8,"""Girlfriend""‡[76][77]",RCA Records,"92,600,000","February 27, 2007","July 17, 2008"
9,"""Evolution of Dance""[74]",Judson Laipply,"78,400,000","April 6, 2006","March 15, 2008"
10,"""Music Is My Hot Hot Sex""‡[81]",CLARUSBARTEL72,"76,600,000","April 9, 2007","March 1, 2008"
11,"""Evolution of Dance""*[74]",Judson Laipply,"10,600,000","April 6, 2006","May 19, 2006"
12,"""Pokémon Theme Music Video""‡[87]",Smosh,"4,300,000","November 28, 2005","March 12, 2006"
13,"""Myspace – The Movie""‡[92][93]",eggtea,"2,700,000","January 31, 2006","February 18, 2006"
14,"""Phony Photo Booth""‡[96]",mugenized,"3,400,000","December 1, 2005","January 21, 2006"
15,"""The Chronic of Narnia Rap""‡[98]",youtubedude,"2,300,000","December 18, 2005","January 9, 2006"
16,"""Ronaldinho: Touch of Gold""‡*[100]",Nikesoccer,"255,000","October 21, 2005","October 31, 2005"
17,"""I/O Brush""‡*[103]",larfus,"247,000","October 5, 2005","October 29, 2005"
18,"""Me at the zoo""[105]",jawed,1,"April 23, 2005","April 23, 2005"

In [6]:
# By copying full x-path. 

for i in driver.find_elements(By.XPATH, '/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[1]/td[1]'):
    rank.append(i.text)
    
for i in driver.find_elements(By.XPATH, '/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[1]/td[2]/a'):
    name.append(i.text)
    
for i in driver.find_elements(By.XPATH, '/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[1]/td[3]/a'):
    artist.append(i.text)
    
for i in driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[1]/td[4]'):
    views.append(i.text)
    
for i in driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[1]/td[5]'):
    upload.append(i.text)
    
    
que1=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Views(billions)':views,'Upload Date':upload})
que1

,Rank,Name,Artist,Views(billions),Upload Date
0,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"7,046,700,000","June 17, 2016","November 2, 2020"
1,"""Despacito""[7]",Luis Fonsi,"2,993,700,000","January 12, 2017","August 4, 2017"
2,"""See You Again""[18]",Wiz Khalifa,"2,894,000,000","April 6, 2015","July 10, 2017"
3,"""Gangnam Style""⁂[27]",Psy,"803,700,000","July 15, 2012","November 24, 2012"
4,"""Baby""*[63]",Justin Bieber,"245,400,000","February 19, 2010","July 16, 2010"
5,"""Bad Romance""[67]",Lady Gaga,"178,400,000","November 24, 2009","April 14, 2010"
6,"""Charlie Bit My Finger""‡[71]",HDCYT,"128,900,000","May 22, 2007","October 25, 2009"
7,"""Evolution of Dance""[74]",Judson Laipply,"118,900,000","April 6, 2006","May 2, 2009"
8,"""Girlfriend""‡[76][77]",RCA Records,"92,600,000","February 27, 2007","July 17, 2008"
9,"""Evolution of Dance""[74]",Judson Laipply,"78,400,000","April 6, 2006","March 15, 2008"
10,"""Music Is My Hot Hot Sex""‡[81]",CLARUSBARTEL72,"76,600,000","April 9, 2007","March 1, 2008"
11,"""Evolution of Dance""*[74]",Judson Laipply,"10,600,000","April 6, 2006","May 19, 2006"
12,"""Pokémon Theme Music Video""‡[87]",Smosh,"4,300,000","November 28, 2005","March 12, 2006"
13,"""Myspace – The Movie""‡[92][93]",eggtea,"2,700,000","January 31, 2006","February 18, 2006"
14,"""Phony Photo Booth""‡[96]",mugenized,"3,400,000","December 1, 2005","January 21, 2006"
15,"""The Chronic of Narnia Rap""‡[98]",youtubedude,"2,300,000","December 18, 2005","January 9, 2006"
16,"""Ronaldinho: Touch of Gold""‡*[100]",Nikesoccer,"255,000","October 21, 2005","October 31, 2005"
17,"""I/O Brush""‡*[103]",larfus,"247,000","October 5, 2005","October 29, 2005"
18,"""Me at the zoo""[105]",jawed,1,"April 23, 2005","April 23, 2005"
19,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,12.13,"June 17, 2016"

2. Scrape the details team India’s internationalfixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [7]:
url='https://www.bcci.tv/'
driver.get(url)
driver.maximize_window() # For full size window. 
time.sleep(3)

In [8]:
# Clicking on fixtures option. 

intn=driver.find_element(By.XPATH, '/html/body/nav/div/div[2]/ul[1]/li[2]/a')
intn.click()

In [9]:
title=[]
for i in driver.find_elements(By.XPATH, '//span[@class="matchOrderText ng-binding ng-scope"]'):
    title.append(i.text)
    
series=[]
for i in driver.find_elements(By.XPATH, '//h5[@class="fix-text"]//span[@class="ng-binding"]'):
    series.append(i.text)
    
place=[]
for i in driver.find_elements(By.XPATH, '//div[@class="fix-place ng-binding ng-scope"]'):
    place.append(i.text.split("-")[1])
    
date=[]
for i in driver.find_elements(By.XPATH, '//div[@class="match-card-left match-schedule"]//h5'):
    date.append(i.text)
    
time=[]
for i in driver.find_elements(By.XPATH, '//div[@class="match-card-right match-schedule "]//h5'):
    time.append(i.text)
    
que2=pd.DataFrame({'Match Title':title,'Series':series,'Place':place,'Date':date,'Time':time})
que2

,Match Title,Series,Place,Date,Time
0,1st Test -,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Vidarbha Cricket Association Stadium, Nagpur",9 FEB 2023,9:30 AM IST
1,1st T20I -,ICC WOMENS T20 WORLD CUP 2023,"Newlands, Cape Town",12 FEB 2023,6:30 PM IST
2,2nd T20I -,ICC WOMENS T20 WORLD CUP 2023,"Newlands, Cape Town",15 FEB 2023,6:30 PM IST
3,2nd Test -,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Arun Jaitley Stadium, Delhi",17 FEB 2023,9:30 AM IST
4,3rd T20I -,ICC WOMENS T20 WORLD CUP 2023,"St George's Park, Gqeberha",18 FEB 2023,6:30 PM IST
5,4th T20I -,ICC WOMENS T20 WORLD CUP 2023,"St George's Park, Gqeberha",20 FEB 2023,6:30 PM IST
6,3rd Test -,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Himachal Pradesh Cricket Association Stadium,...",1 MAR 2023,9:30 AM IST
7,4th Test -,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Narendra Modi Stadium, Ahmedabad",9 MAR 2023,9:30 AM IST

3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [11]:
url='http://statisticstimes.com/'
driver.get(url)
from selenium.webdriver.support.ui import Select

In [12]:
# Click on economy button then click on india button in it. 

driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/button').click()
driver.find_element(By.LINK_TEXT, 'India').click()
try:
    add=driver.find_element_by_id("dismiss-button")
    add.click()
except:
    pass

In [14]:
gdp=driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a') # Clicking on GDP of indian states.
gdp.click()

rank=[]
for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[1]'):
    rank.append(i.text)
    
state=[]
for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[2]'):
    state.append(i.text)
    
gdp1=[]
for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[3]'):
    gdp1.append(i.text)
    
gdp2=[]
for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[4]'):
    gdp2.append(i.text)
    
share=[]
for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[5]'):
    share.append(i.text)
    
gdpd=[]
for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]'):
    gdpd.append(i.text)
    
que4=pd.DataFrame({'Rank':rank,'State':state,'GSDP(19-20)':gdp1,'GSDP(18-19)':gdp2,'Share(18-19)':share,'GDP($billion)':gdpd})
que4

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [23]:
url='https://github.com/'
driver.get(url)

In [24]:
driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()
driver.find_element(By.XPATH, '//html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a').click()

In [25]:
title=[]
des=[]
cont=[]
lang=[]
     
for i in driver.find_elements(By.XPATH, '//h1[@class="h3 lh-condensed"]'):
    title.append(i.text)

for i in driver.find_elements(By.XPATH, '//p[@class="col-9 color-fg-muted my-1 pr-4"]'):
    des.append(i.text)
        
for i in driver.find_elements(By.XPATH, '//span[@class="d-inline-block ml-0 mr-3"]'):
    lang.append(i.text)

In [26]:
len(title)

25

In [27]:
len(des)

24

In [28]:
len(cont)

0

In [29]:
len(lang)

22

# Let us fill empty values in order to make an data frame.

In [30]:
title=[]
des=[]
cont=[]
lang=[]
     
for i in driver.find_elements(By.XPATH, '//h1[@class="h3 lh-condensed"]'):
    title.append(i.text)

for i in driver.find_elements(By.XPATH, '//p[@class="col-9 color-fg-muted my-1 pr-4"]'):
    des.append(i.text)
        
for i in driver.find_elements(By.XPATH, '//span[@class="d-inline-block ml-0 mr-3"]'):
    lang.append(i.text)
       
des.insert(0,'Not Available') # By this way we make this count to 25. 
lang.insert(3,'-') # Filling empty values by hifen.
lang.insert(15,'-') # Filling empty values by hifen.
lang.insert(22,'-')  # Filling empty values by hifen.

que5=pd.DataFrame({'Title':title,'Description':des,'Language Used':lang})
que5

,Title,Description,Language Used
0,LAION-AI / Open-Assistant,Not Available,Python
1,acheong08 / ChatGPT,OpenAssistant is a chat-based assistant that u...,Python
2,nostr-protocol / nostr,Reverse engineered ChatGPT API,Swift
3,damus-io / damus,a truly censorship-resistant alternative to Tw...,-
4,microsoft / BioGPT,iOS nostr client,Python
5,waylaidwanderer / node-chatgpt-api,A ChatGPT implementation using the official Ch...,JavaScript
6,yt-dlp / yt-dlp,A youtube-dl fork with additional features and...,Python
7,transitive-bullshit / chatgpt-api,Node.js client for the unofficial ChatGPT API. 🔥,TypeScript
8,Datalux / Osintgram,Osintgram is a OSINT tool on Instagram. It off...,Python
9,microsoft / PowerToys,Windows system utilities to maximize productivity,C#
10,AutumnWhj / ChatGPT-wechat-bot,ChatGPT for wechat https://github.com/AutumnWh...,TypeScript
11,coolsnowwolf / lede,Lean's LEDE source,C
12,Cameri / nostream,A Nostr Relay written in TypeScript,TypeScript
13,hikari-no-yume / touchHLE,High-level emulator for iPhone OS apps,Rust
14,ToolJet / ToolJet,Extensible low-code framework for building bus...,JavaScript
15,Zero6992 / chatGPT-discord-bot,Integrate ChatGPT into your own discord bot,-
16,adrianhajdin / project_hoobank,Modern UI/UX website using React.js & Tailwind...,Python
17,dudykr / stc,Speedy TypeScript type checker,JavaScript
18,misskey-dev / misskey,🌎 An interplanetary microblogging platform 🚀,Rust
19,servo / servo,The Servo Browser Engine,TypeScript
20,daveshap / raven,RAVEN (Realtime Assistant Voice Enabled Networ...,Python
21,innnky / so-vits-svc,基于vits与softvc的歌声音色转换模型,Python
22,LeagueOfPoro / CapsuleFarmerEvolved,Automatically drops from lolesports.com and fa...,-
23,hwchase17 / langchain,⚡ Building applications with LLMs through comp...,Python
24,A-poc / RedTeam-Tools,Tools and Techniques for Red Team / Penetratio...,Python

5. Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [31]:
url='https:/www.billboard.com/'
driver.get(url)

In [32]:
# Note: - From the home page you have to click on the charts option then hot 100-page link through code.##

hot100=driver.find_element(By.XPATH, '//ul//li[1]//a[@class="c-link  lrv-a-unstyle-link lrv-u-color-brand-primary:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-dark"]')
hot100.click()

In [33]:
song=[]
for i in driver.find_elements(By.XPATH, '//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]'):
    song.append(i.text)
for i in driver.find_elements(By.XPATH, '//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]'):
    song.insert(0,i.text)
    
singer=[]
for i in driver.find_elements(By.XPATH, '//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]'):
    singer.append(i.text)
for i in driver.find_elements(By.XPATH, '//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]'):
    singer.insert(0,i.text)
    
lastweek=[]
for i in driver.find_elements(By.XPATH, '//li[4][@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]'):
    lastweek.append(i.text)
for i in driver.find_elements(By.XPATH, '//li[4][@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]'):
    lastweek.insert(0,i.text)
    
peak=[]
for i in driver.find_elements(By.XPATH, '//li[5][@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]//span'):
    peak.append(i.text)

weak=[]
for i in driver.find_elements(By.XPATH, '//li[6][@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]//span'):
    weak.append(i.text)

que6=pd.DataFrame({'Song Name':song,'Artist Name':singer,'Last week rank':lastweek,'Peak rank':peak,'Weeks on board':weak})
que6

Empty DataFrame
Columns: [Song Name, Artist Name, Last week rank, Peak rank, Weeks on board]
Index: []

6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [34]:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [35]:
book=[]
for i in driver.find_elements(By.XPATH, '//tbody//tr//td[2]'):
    book.append(i.text)
    
author=[]
for i in driver.find_elements(By.XPATH, '//tbody//tr//td[3]'):
    author.append(i.text)
    
volume=[]
for i in driver.find_elements(By.XPATH, '//tbody//tr//td[4]'):
    volume.append(i.text)
    
publisher=[]
for i in driver.find_elements(By.XPATH, '//tbody//tr//td[5]'):
    publisher.append(i.text)
    
genre=[]
for i in driver.find_elements(By.XPATH, '//tbody//tr//td[6]'):
    genre.append(i.text)
    
que8=pd.DataFrame({'Book Name':book,'Author Name':author,'Volume Sales':volume,'Publisher':publisher,'Genre':genre})
que8

,Book Name,Author Name,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [36]:
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [37]:
name=[]
for i in driver.find_elements(By.XPATH, '//h3//a'):
    name.append(i.text)

year=[]
for i in driver.find_elements(By.XPATH, '//h3//span[@class="lister-item-year text-muted unbold"]'):
    year.append(i.text)
    
genre=[]
for i in driver.find_elements(By.XPATH, '//p//span[@class="genre"]'):
    genre.append(i.text)
    
runtime=[]
for i in driver.find_elements(By.XPATH, '//p//span[@class="runtime"]'):
    runtime.append(i.text)
    
rating=[]
for i in driver.find_elements(By.XPATH, '//div[@class="ipl-rating-star small"]//span[@class="ipl-rating-star__rating"]'):
    rating.append(i.text)
    
vote=[]
for i in driver.find_elements(By.XPATH, '//span[@name="nv"]'):
    vote.append(i.text)
    
que9=pd.DataFrame({'Name':name,'Year Span':year,'Genre':genre,'Runtime':runtime,'Rating':rating,'Votes':vote})
que9

,Name,Year Span,Genre,Runtime,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,119,869"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,208,557"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,005,165"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"296,708"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"255,664"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,674"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"62,559"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"202,485"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"42,005"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"250,278"

8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [38]:
url='https://archive.ics.uci.edu/'
driver.get(url)

In [39]:
# Note: - from the home page you have to go to the ShowAllDataset page through code

all=driver.find_element(By.XPATH, '//span[@class="whitetext"]//b')
all.click()

In [40]:
name=[]
for i in driver.find_elements(By.XPATH, '//b//a'):
    name.append(i.text)
    
tyep=[]
for i in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]'):
    tyep.append(i.text)
tyep.pop(0)

task=[]
for i in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]'):
    task.append(i.text)
task.pop(0)

att_type=[]
for i in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]'):
    att_type.append(i.text)
att_type.pop(0)

inst=[]
for i in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]'):
    inst.append(i.text)
inst.pop(0)

att=[]
for i in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]'):
    att.append(i.text)
att.pop(0)

year=[]
for i in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]'):
    year.append(i.text)
year.pop(0)

que10=pd.DataFrame({'Name':name,'Data Type':tyep,'Default Task':task,'Attribute Type':att_type,'Instances':inst,'Attributes':att,'Year':year})
que10

,Name,Data Type,Default Task,Attribute Type,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021